@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7b61ff;
  --background: #f6f7f9;
}

body {
  background: var(--background);
  @apply tracking-wide;
}

.datePicker > div {
  border-radius: 0.375rem;
  border-color: rgb(209 213 219);
  padding: 12px 16px;
  &:hover {
    border-color: rgb(163 163 164);
  }
}
